<div class="container-fluid h-100 ">

<div class="row">
  <div class="col-md-12 mt-3 jumbotron ">


<form [formGroup]="form">
<div class="form-group  clearfix">
<button type="submit" class="btn btn-danger btn-lg float-right" (click)="onPublish()">{{text}}</button>
</div>
<div class="form-group col-md-12 ">
  <label class="control-label" for="title">Title</label>
  <input  formControlName="title" type="text" Id="title" class=" form-control form-control-lg" />

  </div>



    <div class="form-group">
      <quill-editor
       format="text"
       formControlName="editor"
       [modules]="modules"
      theme="snow" [styles]="{'height':'60vh','overflow':'auto','background-color':'white'}">

    </quill-editor>
    <textarea maxlength="300" rows="3" cols="30"
    formControlName="description"
     placeholder="Enter short description for the Post" class=" form-control"></textarea>
    </div>
    <div class="row">
      <div class="form-group col-md-9 ">
        <label class="control-label" for="title" [ngStyle]="{'visibility': 'hidden'}">Title</label>
        <app-tags-input (arraytoreceived)="getTags($event)"></app-tags-input>

        </div>

        <div class="form-group col-md-3 ">
          <input  [ngStyle]="{'display':'none'}" type="file"
          (change)="onFileChange($event)" #upload>
          <br/>
        <button class="btn btn-primary btn-lg" (click)="upload.click()">
          Upload Cover Image</button>

        </div>
    </div>

</form>
</div>
  </div>
</div>
